* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  height: 600px;
  width: 400px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
}
.card {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.card img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.card h3 {
  font-size: 25px;
  margin-top: 10px;
}
.card h1 {
  font-size: 30px;
}
